a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

body {
    background-color: #001D3D;
    width: 100vw;
    margin: 0;
}

.body-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr  ;
    grid-gap: 1em;
    margin-top: 1em;;
    padding: 0 3em;
}

.box {
    background-color:#003566;
    border-radius: 20px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.box2 {
    grid-column: 2/4;
}

h1, h2{
    background-color: #FFD60A;
    text-align: center;
    margin-top: 0;
    border-radius: 1em;

}

.nav-list {
    display: flex;
    background: #FFD60A;
    box-shadow: 0px 0px 10px #0000;
    margin: 1em 3em;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1em;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

a:hover {
    color: white
}

.nav-item:first-child {
    margin-right: auto;
}


.jasper1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #CCC;
    border-radius: 1em;
}

@media  screen and (max-width: 470px) {
   .body-1  {
    grid-template-columns: auto;
   }
    .box2 {
    grid-column: 1;
   }

   .nav-list {
    flex-direction: column;

   }
}
